@page "/catalog"

<div class="container-fluid px-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @if (BrowsingContext is FrameworkDiffBrowsingContext diffContext)
            {
                var left = diffContext.Left.GetShortFolderName();
                var right = diffContext.Right.GetShortFolderName();
                <li class="breadcrumb-item">
                    <a href="@Link.ForDiff()">@left vs @right</a>
                </li>
            }
            <li class="breadcrumb-item"><Glyph Kind="GlyphKind.Database" role="presentation" /> <a href="@Link.ForCatalog()">Catalog</a></li>
        </ol>
    </nav>
</div>

<div class="container-fluid">

    <ul class="list-unstyled">
        <li>
            <Glyph Kind="GlyphKind.Database" role="presentation" /> <span class="font-weight-bold">Catalog</span>

            <ul class="list-unstyled pl-4">
                @{
                    var items = CatalogService.Catalog.RootApis
                        .Order()
                        .Select(a => (Api: a, BrowsingData: BrowsingContext.GetData(a)))
                        .Where(a => !a.BrowsingData?.Excluded ?? true);
                }
                <ItemLimiter ItemSource="items" Limit="650">
                    @{
                        var child = context.Api;
                        var childData = context.BrowsingData;
                        var childCssClasses = childData?.CssClasses ?? string.Empty;
                        var childMarkup = childData?.AdditionalMarkup;
                        <li>
                            <Glyph Kind="@child.Kind.GetGlyph()" role="presentation" /> <a class="@childCssClasses" href="@Link.For(child)">@child.Name</a> @childMarkup
                        </li>
                    }
                </ItemLimiter>
            </ul>
        </li>
    </ul>
</div>
