@page "/catalog"

<div class="container-fluid px-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @if (BrowsingContext is FrameworkDiffBrowsingContext diffContext)
            {
                var left = diffContext.Left.GetShortFolderName();
                var right = diffContext.Right.GetShortFolderName();
                <li class="breadcrumb-item">
                    @left vs @right
                </li>
            }
            <li class="breadcrumb-item"><Glyph Kind="GlyphKind.Database" /> <a href="@Link.ForCatalog()">Catalog</a></li>
        </ol>
    </nav>
</div>

<div class="container-fluid">

    <ul class="list-unstyled">
        <li>
            <Glyph Kind="GlyphKind.Database" /> <span class="font-weight-bold">Catalog</span>

            <ul class="list-unstyled pl-4">
                @foreach (var child in CatalogService.Catalog.RootApis.Order())
                {
                    var childData = BrowsingContext.GetData(child);
                    var childIsExcluded = childData?.Excluded ?? false;
                    var childCssClasses = childData?.CssClasses ?? string.Empty;
                    var childMarkup = childData?.AdditionalMarkup;

                    if (childIsExcluded)
                        continue;

                    <li>
                        <Glyph Kind="@child.Kind.GetGlyph()" /> <a class="@childCssClasses" href="@Link.For(child)">@child.Name</a> @childMarkup
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
