@page "/stats"

<div class="mt-3 container-fluid">
    <div class="mx-auto col-md-5">
        <div>
            <h3>
                Statistics
                <small class="text-muted">For Nerds</small>
            </h3>
            <table class="statistics-table table table-sm">
                <tbody>
                <tr>
                    <th>APIs</th>
                    <td>@Statistics.NumberOfApis.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Extension Methods</th>
                    <td>@Statistics.NumberOfExtensionMethods.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Declarations</th>
                    <td>@Statistics.NumberOfDeclarations.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Assemblies</th>
                    <td>@Statistics.NumberOfAssemblies.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Frameworks</th>
                    <td>@Statistics.NumberOfFrameworks.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Framework Assemblies</th>
                    <td>@Statistics.NumberOfFrameworkAssemblies.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Packages</th>
                    <td>@Statistics.NumberOfPackages.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Package Versions</th>
                    <td>@Statistics.NumberOfPackageVersions.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Package Assemblies</th>
                    <td>@Statistics.NumberOfPackageAssemblies.ToString("N0")</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Size Compressed</th>
                    <td>@Statistics.SizeCompressed.ToString("N0")</td>
                    <td>bytes</td>
                </tr>
                <tr>
                    <th>Size Uncompressed</th>
                    <td>@Statistics.SizeUncompressed.ToString("N0")</td>
                    <td>bytes</td>
                </tr>
                @foreach (var (tableName, size, rows) in Statistics.TableSizes)
                {
                    <tr>
                        <th>@tableName</th>
                        <td>@size.ToString("N0")</td>
                        <td>bytes</td>
                    </tr>

                    if (rows >= 0)
                    {
                        <tr class="no-border-top">
                            <th></th>
                            <td>@rows.ToString("N0")</td>
                            <td>rows</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>