@page "/"

<div class="container-fluid">
    <h1>Azure API Catalog</h1>

    A better and more accurate API Catalog.

    @if (Statistics != null)
    {
        <dl>
            <dt>NumberOfApis</dt>
            <dd>@Statistics.NumberOfApis.ToString("N0")</dd>

            <dt>NumberOfDeclarations</dt>
            <dd>@Statistics.NumberOfDeclarations.ToString("N0")</dd>

            <dt>NumberOfAssemblies</dt>
            <dd>@Statistics.NumberOfAssemblies.ToString("N0")</dd>

            <dt>NumberOfFrameworks</dt>
            <dd>@Statistics.NumberOfFrameworks.ToString("N0")</dd>

            <dt>NumberOfPlatformAssemblies</dt>
            <dd>@Statistics.NumberOfFrameworkAssemblies.ToString("N0")</dd>

            <dt>NumberOfPackages</dt>
            <dd>@Statistics.NumberOfPackages.ToString("N0")</dd>

            <dt>NumberOfPackageVersions</dt>
            <dd>@Statistics.NumberOfPackageVersions.ToString("N0")</dd>

            <dt>NumberOfPackageAssemblies</dt>
            <dd>@Statistics.NumberOfPackageAssemblies.ToString("N0")</dd>
        </dl>
    }
</div>
